.Favorite{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

h1 {
    color: white;
}

.contener_favorite{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contener_favorite img{
    width: 200px;
    margin-bottom: 3px;
    margin-top: 10px;
    border-radius: 0 !important;
}
